:root {
  border: 1px solid red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c8cbf8;
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surprise {
  width: 25vh;
  border-radius: 5px;
  border: 5px solid #ddd;
  padding: 5px;
}
